<% include partials/header %>
<link rel="stylesheet" href="stylesheets/home-style.css">
</head>
<body>
<div class="row">
    <div class="col s6 main-box left-box align-button grow" id="padding-overide"><a class="waves-effect red darken-1 btn-large" id="left-button" href="/register">Create account</a></div>
    <div class="col s6 main-box align-button grow" id="padding-overide"><a class="waves-effect red darken-1 btn-large" id="right-button" href="/login">Login</a></div>
</div>
</body>